/* arc lengths */
#num-1 .lines {
  stroke-dasharray: 8877;
  stroke-dashoffset: 8877;
}
#num-2 .lines {
  stroke-dasharray: 9426;
  stroke-dashoffset: 9426;
}
#num-3 .lines {
  stroke-dasharray: 6546;
  stroke-dashoffset: 6546;
}
#num-4 .lines {
  stroke-dasharray: 6589;
  stroke-dashoffset: 6589;
}
#num-5 .lines {
  stroke-dasharray: 9956;
  stroke-dashoffset: 9956;
}
#num-6 .lines {
  stroke-dasharray: 9876;
  stroke-dashoffset: 9876;
}
#num-7 .lines {
  stroke-dasharray: 11032;
  stroke-dashoffset: 11032;
}
#num-8 .lines {
  stroke-dasharray: 10930;
  stroke-dashoffset: 10930;
}
#num-9 .lines {
  stroke-dasharray: 6906;
  stroke-dashoffset: 6906;
}
#num-10 .lines {
  stroke-dasharray: 6645;
  stroke-dashoffset: 6645;
}
#num-11 .lines {
  stroke-dasharray: 10232;
  stroke-dashoffset: 10232;
}
#num-12 .lines {
  stroke-dasharray: 9957;
  stroke-dashoffset: 9957;
}
#num-13 .lines {
  stroke-dasharray: 7004;
  stroke-dashoffset: 7004;
}
#num-14 .lines {
  stroke-dasharray: 10694;
  stroke-dashoffset: 10694;
}
#num-15 .lines {
  stroke-dasharray: 10717;
  stroke-dashoffset: 10717;
}
#num-16 .lines {
  stroke-dasharray: 9386;
  stroke-dashoffset: 9386;
}
#num-17 .lines {
  stroke-dasharray: 9034;
  stroke-dashoffset: 9034;
}
#num-18 .lines {
  stroke-dasharray: 10574;
  stroke-dashoffset: 10574;
}
#num-19 .lines {
  stroke-dasharray: 10225;
  stroke-dashoffset: 10225;
}
#num-20 .lines {
  stroke-dasharray: 9132;
  stroke-dashoffset: 9132;
}
#num-21 .lines {
  stroke-dasharray: 9737;
  stroke-dashoffset: 9737;
}
#num-22 .lines {
  stroke-dasharray: 8991;
  stroke-dashoffset: 8991;
}
#num-23 .lines {
  stroke-dasharray: 9451;
  stroke-dashoffset: 9451;
}
#num-24 .lines {
  stroke-dasharray: 10508;
  stroke-dashoffset: 10508;
}
#num-25 .lines {
  stroke-dasharray: 10197;
  stroke-dashoffset: 10197;
}
#num-26 .lines {
  stroke-dasharray: 9520;
  stroke-dashoffset: 9520;
}
#num-27 .lines {
  stroke-dasharray: 9526;
  stroke-dashoffset: 9526;
}