/* arc speeds */
#num-1 .lines { animation: dash 17.754s ease-in-out alternate infinite; }
#num-2 .lines { animation: dash 18.852s ease-in-out alternate infinite; }
#num-3 .lines { animation: dash 13.092s ease-in-out alternate infinite; }
#num-4 .lines { animation: dash 13.178s ease-in-out alternate infinite; }
#num-5 .lines { animation: dash 19.912s ease-in-out alternate infinite; }
#num-6 .lines { animation: dash 19.752s ease-in-out alternate infinite; }
#num-7 .lines { animation: dash 22.064s ease-in-out alternate infinite; }
#num-8 .lines { animation: dash 21.86s ease-in-out alternate infinite; }
#num-9 .lines { animation: dash 13.812s ease-in-out alternate infinite; }
#num-10 .lines { animation: dash 13.29s ease-in-out alternate infinite; }
#num-11 .lines { animation: dash 20.464s ease-in-out alternate infinite; }
#num-12 .lines { animation: dash 19.914s ease-in-out alternate infinite; }
#num-13 .lines { animation: dash 14.008s ease-in-out alternate infinite; }
#num-14 .lines { animation: dash 21.388s ease-in-out alternate infinite; }
#num-15 .lines { animation: dash 21.434s ease-in-out alternate infinite; }
#num-16 .lines { animation: dash 18.772s ease-in-out alternate infinite; }
#num-17 .lines { animation: dash 18.068s ease-in-out alternate infinite; }
#num-18 .lines { animation: dash 21.148s ease-in-out alternate infinite; }
#num-19 .lines { animation: dash 20.45s ease-in-out alternate infinite; }
#num-20 .lines { animation: dash 18.264s ease-in-out alternate infinite; }
#num-21 .lines { animation: dash 19.474s ease-in-out alternate infinite; }
#num-22 .lines { animation: dash 17.982s ease-in-out alternate infinite; }
#num-23 .lines { animation: dash 18.902s ease-in-out alternate infinite; }
#num-24 .lines { animation: dash 21.016s ease-in-out alternate infinite; }
#num-25 .lines { animation: dash 20.394s ease-in-out alternate infinite; }
#num-26 .lines { animation: dash 19.04s ease-in-out alternate infinite; }
#num-27 .lines { animation: dash 19.052s ease-in-out alternate infinite; }