/* arc speeds */
#num-1 .lines { animation: dash 13.544s ease-in-out alternate infinite; }
#num-2 .lines { animation: dash 12.676s ease-in-out alternate infinite; }
#num-3 .lines { animation: dash 12.8s ease-in-out alternate infinite; }
#num-4 .lines { animation: dash 9.03s ease-in-out alternate infinite; }
#num-5 .lines { animation: dash 11.758s ease-in-out alternate infinite; }