
@media print {

  /* html {  */
    /* for all 880 order 4s on one A4 page */
    /* --sizeOrder4All: calc((100vw - 80px) / 40); */
    /* --margOrder4All: calc( ( 100vh - ( var(--sizeOrder4All) * 22 ) ) / 2 ); */
    /* for all unique 397 order 4s on one A4 page */
    /* --sizeOrder4All: calc((100vw - 80px) / 25);
    --margOrder4All: calc( ( 100vh - ( var(--sizeOrder4All) * 16 ) ) / 2 ); */
  /* } */

  body.orderGroups.order3 {
    --size: calc((100vw - 80px) / 7);
    --marg: calc( ( 100vh - ( var(--size) * 4 ) ) / 2 );
  }
  body.orderGroups.order4 {  /* 880 */
    --size: calc((100vw - 80px) / 40);
    --marg: calc( ( 100vh - ( var(--size) * 22 ) ) / 2 );
  }
  body.orderGroups.order5 {
    --size: calc(((100vw - 80px) / 5) * .85);
    --marg: calc( ( 100vh - ( var(--size) * 4 ) ) / 2 );
  }
  body.orderGroups.order6 {
    --size: calc((100vw - 80px) / 7);
    --marg: calc( ( 100vh - ( var(--size) * 4 ) ) / 2 );
  }
  body.orderGroups.order7 {
    --size: calc((100vw - 80px) / 4);
    --marg: calc( ( 100vh - ( var(--size) * 1 ) ) / 2 );
  }
  body.orderGroups.order8 {
    --size: calc((100vw - 80px) / 4);
    --marg: calc( ( 100vh - ( var(--size) * 1 ) ) / 2 );
  }
  body.orderGroups.order9 {
    --size: calc((100vw - 80px) / 4);
    --marg: calc( ( 100vh - ( var(--size) * 1 ) ) / 2 );
  }
  body.singleInput.order9 {
    --size: calc(((100vw - 80px) / 5) * .9);
    --marg: 40px;
  }

  body { margin: var(--marg) 40px }
  .order-x, .order-xt { width: var(--size); height: var(--size) }

  #settings, footer { display: none }
  .order-x, .order-xt { box-sizing: border-box }
  .order-xt { padding: 2px }
  .pad { padding: 3px }

  .svgGrid.search p,
  .svgGrid.filter svg + p {
    font-size: 1em;
  }

}
