/* quadvertix lengths */
#num-1 .lines {
  stroke-dasharray: 8411;
  stroke-dashoffset: 8411;
}
#num-2 .lines {
  stroke-dasharray: 8416;
  stroke-dashoffset: 8416;
}
#num-3 .lines {
  stroke-dasharray: 4881;
  stroke-dashoffset: 4881;
}
#num-4 .lines {
  stroke-dasharray: 4785;
  stroke-dashoffset: 4785;
}
#num-5 .lines {
  stroke-dasharray: 7223;
  stroke-dashoffset: 7223;
}
#num-6 .lines {
  stroke-dasharray: 7230;
  stroke-dashoffset: 7230;
}
#num-7 .lines {
  stroke-dasharray: 9410;
  stroke-dashoffset: 9410;
}
#num-8 .lines {
  stroke-dasharray: 9384;
  stroke-dashoffset: 9384;
}
#num-9 .lines {
  stroke-dasharray: 4970;
  stroke-dashoffset: 4970;
}
#num-10 .lines {
  stroke-dasharray: 4873;
  stroke-dashoffset: 4873;
}
#num-11 .lines {
  stroke-dasharray: 7384;
  stroke-dashoffset: 7384;
}
#num-12 .lines {
  stroke-dasharray: 7311;
  stroke-dashoffset: 7311;
}
#num-13 .lines {
  stroke-dasharray: 4890;
  stroke-dashoffset: 4890;
}
#num-14 .lines {
  stroke-dasharray: 9426;
  stroke-dashoffset: 9426;
}
#num-15 .lines {
  stroke-dasharray: 9407;
  stroke-dashoffset: 9407;
}
#num-16 .lines {
  stroke-dasharray: 8515;
  stroke-dashoffset: 8515;
}
#num-17 .lines {
  stroke-dasharray: 8556;
  stroke-dashoffset: 8556;
}
#num-18 .lines {
  stroke-dasharray: 9054;
  stroke-dashoffset: 9054;
}
#num-19 .lines {
  stroke-dasharray: 9051;
  stroke-dashoffset: 9051;
}
#num-20 .lines {
  stroke-dasharray: 6887;
  stroke-dashoffset: 6887;
}
#num-21 .lines {
  stroke-dasharray: 6970;
  stroke-dashoffset: 6970;
}
#num-22 .lines {
  stroke-dasharray: 8549;
  stroke-dashoffset: 8549;
}
#num-23 .lines {
  stroke-dasharray: 8579;
  stroke-dashoffset: 8579;
}
#num-24 .lines {
  stroke-dasharray: 9204;
  stroke-dashoffset: 9204;
}
#num-25 .lines {
  stroke-dasharray: 9160;
  stroke-dashoffset: 9160;
}
#num-26 .lines {
  stroke-dasharray: 7054;
  stroke-dashoffset: 7054;
}
#num-27 .lines {
  stroke-dasharray: 7100;
  stroke-dashoffset: 7100;
}