/* quadvertix speeds */
#num-1 .lines { animation: dash 16.822s ease-in-out alternate infinite; }
#num-2 .lines { animation: dash 16.832s ease-in-out alternate infinite; }
#num-3 .lines { animation: dash 9.762s ease-in-out alternate infinite; }
#num-4 .lines { animation: dash 9.57s ease-in-out alternate infinite; }
#num-5 .lines { animation: dash 14.446s ease-in-out alternate infinite; }
#num-6 .lines { animation: dash 14.46s ease-in-out alternate infinite; }
#num-7 .lines { animation: dash 18.82s ease-in-out alternate infinite; }
#num-8 .lines { animation: dash 18.768s ease-in-out alternate infinite; }
#num-9 .lines { animation: dash 9.94s ease-in-out alternate infinite; }
#num-10 .lines { animation: dash 9.746s ease-in-out alternate infinite; }
#num-11 .lines { animation: dash 14.768s ease-in-out alternate infinite; }
#num-12 .lines { animation: dash 14.622s ease-in-out alternate infinite; }
#num-13 .lines { animation: dash 9.78s ease-in-out alternate infinite; }
#num-14 .lines { animation: dash 18.852s ease-in-out alternate infinite; }
#num-15 .lines { animation: dash 18.814s ease-in-out alternate infinite; }
#num-16 .lines { animation: dash 17.03s ease-in-out alternate infinite; }
#num-17 .lines { animation: dash 17.112s ease-in-out alternate infinite; }
#num-18 .lines { animation: dash 18.108s ease-in-out alternate infinite; }
#num-19 .lines { animation: dash 18.102s ease-in-out alternate infinite; }
#num-20 .lines { animation: dash 13.774s ease-in-out alternate infinite; }
#num-21 .lines { animation: dash 13.94s ease-in-out alternate infinite; }
#num-22 .lines { animation: dash 17.098s ease-in-out alternate infinite; }
#num-23 .lines { animation: dash 17.158s ease-in-out alternate infinite; }
#num-24 .lines { animation: dash 18.408s ease-in-out alternate infinite; }
#num-25 .lines { animation: dash 18.32s ease-in-out alternate infinite; }
#num-26 .lines { animation: dash 14.108s ease-in-out alternate infinite; }
#num-27 .lines { animation: dash 14.2s ease-in-out alternate infinite; }