/* quadline lengths */
#num-1 .lines {
  stroke-dasharray: 4554;
  stroke-dashoffset: 4554;
}
#num-2 .lines {
  stroke-dasharray: 4867;
  stroke-dashoffset: 4867;
}
#num-3 .lines {
  stroke-dasharray: 4681;
  stroke-dashoffset: 4681;
}
#num-4 .lines {
  stroke-dasharray: 5183;
  stroke-dashoffset: 5183;
}
#num-5 .lines {
  stroke-dasharray: 5190;
  stroke-dashoffset: 5190;
}