/* quadline lengths */
#num-1 .lines {
  stroke-dasharray: 8432;
  stroke-dashoffset: 8432;
}
#num-2 .lines {
  stroke-dasharray: 8363;
  stroke-dashoffset: 8363;
}
#num-3 .lines {
  stroke-dasharray: 4932;
  stroke-dashoffset: 4932;
}
#num-4 .lines {
  stroke-dasharray: 4765;
  stroke-dashoffset: 4765;
}
#num-5 .lines {
  stroke-dasharray: 7131;
  stroke-dashoffset: 7131;
}
#num-6 .lines {
  stroke-dasharray: 7210;
  stroke-dashoffset: 7210;
}
#num-7 .lines {
  stroke-dasharray: 9429;
  stroke-dashoffset: 9429;
}
#num-8 .lines {
  stroke-dasharray: 9429;
  stroke-dashoffset: 9429;
}
#num-9 .lines {
  stroke-dasharray: 4886;
  stroke-dashoffset: 4886;
}
#num-10 .lines {
  stroke-dasharray: 4876;
  stroke-dashoffset: 4876;
}
#num-11 .lines {
  stroke-dasharray: 7303;
  stroke-dashoffset: 7303;
}
#num-12 .lines {
  stroke-dasharray: 7280;
  stroke-dashoffset: 7280;
}
#num-13 .lines {
  stroke-dasharray: 4857;
  stroke-dashoffset: 4857;
}
#num-14 .lines {
  stroke-dasharray: 9392;
  stroke-dashoffset: 9392;
}
#num-15 .lines {
  stroke-dasharray: 9372;
  stroke-dashoffset: 9372;
}
#num-16 .lines {
  stroke-dasharray: 8488;
  stroke-dashoffset: 8488;
}
#num-17 .lines {
  stroke-dasharray: 8560;
  stroke-dashoffset: 8560;
}
#num-18 .lines {
  stroke-dasharray: 9030;
  stroke-dashoffset: 9030;
}
#num-19 .lines {
  stroke-dasharray: 9046;
  stroke-dashoffset: 9046;
}
#num-20 .lines {
  stroke-dasharray: 7002;
  stroke-dashoffset: 7002;
}
#num-21 .lines {
  stroke-dasharray: 6863;
  stroke-dashoffset: 6863;
}
#num-22 .lines {
  stroke-dasharray: 8635;
  stroke-dashoffset: 8635;
}
#num-23 .lines {
  stroke-dasharray: 8522;
  stroke-dashoffset: 8522;
}
#num-24 .lines {
  stroke-dasharray: 9248;
  stroke-dashoffset: 9248;
}
#num-25 .lines {
  stroke-dasharray: 9129;
  stroke-dashoffset: 9129;
}
#num-26 .lines {
  stroke-dasharray: 7021;
  stroke-dashoffset: 7021;
}
#num-27 .lines {
  stroke-dasharray: 7119;
  stroke-dashoffset: 7119;
}