/* quadline speeds */
#num-1 .lines { animation: dash 16.864s ease-in-out alternate infinite; }
#num-2 .lines { animation: dash 16.726s ease-in-out alternate infinite; }
#num-3 .lines { animation: dash 9.864s ease-in-out alternate infinite; }
#num-4 .lines { animation: dash 9.53s ease-in-out alternate infinite; }
#num-5 .lines { animation: dash 14.262s ease-in-out alternate infinite; }
#num-6 .lines { animation: dash 14.42s ease-in-out alternate infinite; }
#num-7 .lines { animation: dash 18.858s ease-in-out alternate infinite; }
#num-8 .lines { animation: dash 18.858s ease-in-out alternate infinite; }
#num-9 .lines { animation: dash 9.772s ease-in-out alternate infinite; }
#num-10 .lines { animation: dash 9.752s ease-in-out alternate infinite; }
#num-11 .lines { animation: dash 14.606s ease-in-out alternate infinite; }
#num-12 .lines { animation: dash 14.56s ease-in-out alternate infinite; }
#num-13 .lines { animation: dash 9.714s ease-in-out alternate infinite; }
#num-14 .lines { animation: dash 18.784s ease-in-out alternate infinite; }
#num-15 .lines { animation: dash 18.744s ease-in-out alternate infinite; }
#num-16 .lines { animation: dash 16.976s ease-in-out alternate infinite; }
#num-17 .lines { animation: dash 17.12s ease-in-out alternate infinite; }
#num-18 .lines { animation: dash 18.06s ease-in-out alternate infinite; }
#num-19 .lines { animation: dash 18.092s ease-in-out alternate infinite; }
#num-20 .lines { animation: dash 14.004s ease-in-out alternate infinite; }
#num-21 .lines { animation: dash 13.726s ease-in-out alternate infinite; }
#num-22 .lines { animation: dash 17.27s ease-in-out alternate infinite; }
#num-23 .lines { animation: dash 17.044s ease-in-out alternate infinite; }
#num-24 .lines { animation: dash 18.496s ease-in-out alternate infinite; }
#num-25 .lines { animation: dash 18.258s ease-in-out alternate infinite; }
#num-26 .lines { animation: dash 14.042s ease-in-out alternate infinite; }
#num-27 .lines { animation: dash 14.238s ease-in-out alternate infinite; }