/* quadvertix speeds */
#num-1 .lines { animation: dash 9.442s ease-in-out alternate infinite; }
#num-2 .lines { animation: dash 9.898s ease-in-out alternate infinite; }
#num-3 .lines { animation: dash 9.502s ease-in-out alternate infinite; }
#num-4 .lines { animation: dash 9.388s ease-in-out alternate infinite; }
#num-5 .lines { animation: dash 9.702s ease-in-out alternate infinite; }