/* straight speeds */
#num-1 .lines { animation: dash 25.516s ease-in-out alternate infinite; }
#num-2 .lines { animation: dash 25.384s ease-in-out alternate infinite; }
#num-3 .lines { animation: dash 12.378s ease-in-out alternate infinite; }
#num-4 .lines { animation: dash 12.378s ease-in-out alternate infinite; }
#num-5 .lines { animation: dash 17.498s ease-in-out alternate infinite; }
#num-6 .lines { animation: dash 17.29s ease-in-out alternate infinite; }
#num-7 .lines { animation: dash 27.524s ease-in-out alternate infinite; }
#num-8 .lines { animation: dash 27.324s ease-in-out alternate infinite; }
#num-9 .lines { animation: dash 12.666s ease-in-out alternate infinite; }
#num-10 .lines { animation: dash 12.666s ease-in-out alternate infinite; }
#num-11 .lines { animation: dash 17.71s ease-in-out alternate infinite; }
#num-12 .lines { animation: dash 17.798s ease-in-out alternate infinite; }
#num-13 .lines { animation: dash 12.59s ease-in-out alternate infinite; }
#num-14 .lines { animation: dash 28.052s ease-in-out alternate infinite; }
#num-15 .lines { animation: dash 28.034s ease-in-out alternate infinite; }
#num-16 .lines { animation: dash 25.788s ease-in-out alternate infinite; }
#num-17 .lines { animation: dash 26.056s ease-in-out alternate infinite; }
#num-18 .lines { animation: dash 26.498s ease-in-out alternate infinite; }
#num-19 .lines { animation: dash 26.824s ease-in-out alternate infinite; }
#num-20 .lines { animation: dash 16.264s ease-in-out alternate infinite; }
#num-21 .lines { animation: dash 16.482s ease-in-out alternate infinite; }
#num-22 .lines { animation: dash 25.834s ease-in-out alternate infinite; }
#num-23 .lines { animation: dash 26.1s ease-in-out alternate infinite; }
#num-24 .lines { animation: dash 26.928s ease-in-out alternate infinite; }
#num-25 .lines { animation: dash 27.518s ease-in-out alternate infinite; }
#num-26 .lines { animation: dash 17.102s ease-in-out alternate infinite; }
#num-27 .lines { animation: dash 17.284s ease-in-out alternate infinite; }