/* straight speeds */
#num-1 .lines { animation: dash 13.656s ease-in-out alternate infinite; }
#num-2 .lines { animation: dash 14.634s ease-in-out alternate infinite; }
#num-3 .lines { animation: dash 13.422s ease-in-out alternate infinite; }
#num-4 .lines { animation: dash 14.424s ease-in-out alternate infinite; }
#num-5 .lines { animation: dash 13.656s ease-in-out alternate infinite; }