/* straight lengths */
#num-1 .lines {
  stroke-dasharray: 12758;
  stroke-dashoffset: 12758;
}
#num-2 .lines {
  stroke-dasharray: 12692;
  stroke-dashoffset: 12692;
}
#num-3 .lines {
  stroke-dasharray: 6189;
  stroke-dashoffset: 6189;
}
#num-4 .lines {
  stroke-dasharray: 6189;
  stroke-dashoffset: 6189;
}
#num-5 .lines {
  stroke-dasharray: 8749;
  stroke-dashoffset: 8749;
}
#num-6 .lines {
  stroke-dasharray: 8645;
  stroke-dashoffset: 8645;
}
#num-7 .lines {
  stroke-dasharray: 13762;
  stroke-dashoffset: 13762;
}
#num-8 .lines {
  stroke-dasharray: 13662;
  stroke-dashoffset: 13662;
}
#num-9 .lines {
  stroke-dasharray: 6333;
  stroke-dashoffset: 6333;
}
#num-10 .lines {
  stroke-dasharray: 6333;
  stroke-dashoffset: 6333;
}
#num-11 .lines {
  stroke-dasharray: 8855;
  stroke-dashoffset: 8855;
}
#num-12 .lines {
  stroke-dasharray: 8899;
  stroke-dashoffset: 8899;
}
#num-13 .lines {
  stroke-dasharray: 6295;
  stroke-dashoffset: 6295;
}
#num-14 .lines {
  stroke-dasharray: 14026;
  stroke-dashoffset: 14026;
}
#num-15 .lines {
  stroke-dasharray: 14017;
  stroke-dashoffset: 14017;
}
#num-16 .lines {
  stroke-dasharray: 12894;
  stroke-dashoffset: 12894;
}
#num-17 .lines {
  stroke-dasharray: 13028;
  stroke-dashoffset: 13028;
}
#num-18 .lines {
  stroke-dasharray: 13249;
  stroke-dashoffset: 13249;
}
#num-19 .lines {
  stroke-dasharray: 13412;
  stroke-dashoffset: 13412;
}
#num-20 .lines {
  stroke-dasharray: 8132;
  stroke-dashoffset: 8132;
}
#num-21 .lines {
  stroke-dasharray: 8241;
  stroke-dashoffset: 8241;
}
#num-22 .lines {
  stroke-dasharray: 12917;
  stroke-dashoffset: 12917;
}
#num-23 .lines {
  stroke-dasharray: 13050;
  stroke-dashoffset: 13050;
}
#num-24 .lines {
  stroke-dasharray: 13464;
  stroke-dashoffset: 13464;
}
#num-25 .lines {
  stroke-dasharray: 13759;
  stroke-dashoffset: 13759;
}
#num-26 .lines {
  stroke-dasharray: 8551;
  stroke-dashoffset: 8551;
}
#num-27 .lines {
  stroke-dasharray: 8642;
  stroke-dashoffset: 8642;
}