html {
  --backColour: #222222;
  --textColour: #eeeeee;
  /* --backColour: rgb(7, 41, 62); */
  /* --lineColour: #ccc; */
  /* --lineColour: rgba(112, 108, 189, .5); */
  /* --lineColour: rgb(151, 149, 186); */
  /* --svgFill: red; */
}
body {
  background: var(--backColour);
  color: var(--textColour);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 0.9em;
  margin-bottom: 2em;
}
#settings { 
  background: #111; 
  padding: 1.5em 0;
  margin-bottom: 2em;
}
#settings .tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#settings fieldset,
#settings .tabs fieldset {
  border: none;
}
#settings .tabs img, 
#settings .tabs fieldset {
  margin: 1em 2em;
}
#settings .tabs img {
  margin-right: 0;
}
#settings .tabs fieldset {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

#settings .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 0 2em;
}
.options fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
.instructions {
  margin-top: 1em;
  margin-right: 2em;
  display: flex;
  justify-content: center;
}
.instructions p {
  margin: 0;
  padding: 0 1em;
}

select, input, a { 
  margin-left: 1em; 
}
.options select {
  padding: .2em 0;
  font-size: 16px;
}

input[type="color"] {
  border: none;
  padding: 0;
  width: 30px;
  height: 24px;
  background: var(--backColour);
  font-size: 0.95em;
}
input[type="checkbox"] {
  width: 25px;
  height: 20px;
  border: none;
}
.userInput {
  margin: 1em 2em;
}
.userInput label input[type="text"]#values {
  width: 70%;
}
input[type="number"] {
  width: 55px;
}
label {
  margin-right: 1em;
  padding: .2em 0;
}
label span {
  margin-left: 5px;
  font-size: 1.2em;
}
.disable {
  color: #666;
  text-decoration: line-through;
}
/* .disable, */
input:disabled, select:disabled {
  background: #666;
  border-color: #666;
  /* display: none; */
}
input:disabled ~ span, select:disabled ~ span {
  color: #666;
  text-decoration: line-through;
}

#orderGroups, #singleInput, #filterGroups {
  display: none;
}
#orderGroups:checked + span, 
#filterGroups:checked + span,
#singleInput:checked + span {
  text-decoration: underline;
}

.error {
  width: 80%;
  margin: 0 5%;
  color: rgb(250, 124, 124)
}

.pad {
  padding: 16px;
}

.order-xt {
  /* padding: 15px; */
  box-sizing: border-box;
}
.order-xt text {
  font-size: 4.5em;
  stroke: none;
  font-family: 'Courier New', Courier, monospace;
}

.order-x, .order-xt, #single-x {
  width: 100%;
  height: 100%;
  stroke-width: 2;
  box-sizing: border-box;
}
.arc {
  stroke-width: 4;
}
.svgGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.svgGrid.filter {
  position: relative;
}
.svgGrid.filter svg {
  margin-bottom: 0;
}
.svgGrid.filter svg + p {
  /* position: relative; */
  /* top: 80px; */
  /* left: -110px; */
  margin-bottom: 3em;
  color: #555;
}

/* svg text {
  fill: #eeeeee;
} */

#constant {
  color: #555;
  font-size: 1.25em;
  text-align: center;
  margin: 0;
}

/* animate */
#svgGrid.animateEvenly svg .lines {
  animation: dash 20s ease-in-out alternate infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

input, label, select, option, #settings a, 
input:focus, 
select:focus,
option:focus {
  font-size: 16px;
}

#progressContainer {
  width: 440px;
  height: 30px;
  background: #444;
  margin: 0 auto;
}
#progressBar {
  /* width: 30%; */
  width: 0%;
  height: 100%;
  background: #ccc;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.9);
}
#modal img {
  object-fit: contain;
  width: 10vw;
  height: 10vh;
}

.hide {
  display: none;
}



@media screen and (min-width: 500px) {
  #single-x {
    width:  50%;
  }
  .order-x, .order-xt {
    width:  200px;
    height: 200px;
  }

  .single .order-x, .single .order-xt {
    width: calc(95vw / 3);
    height: calc(95vw / 3);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #settings .tabs {
    flex-direction: row;
  }
  #settings .options {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #settings .tabs fieldset {
    display: unset;
  }
  .instructions {
    justify-content: flex-end;
  }

  .svgGrid.filter svg {
    margin-bottom: 3em;
  }
  .svgGrid.filter svg + p {
    position: relative;
    top: 100px;
    left: -115px;
    color: #555;
  }


}


@media screen and (min-width: 800px) {

  .single .order-x, .single .order-xt {
    width: calc(95vw / 5);
    height: calc(95vw / 5);
  }

}

@media print {

  html { 
    /* for all 880 order 4s on one A4 page */
    --sizeOrder4All: calc((100vw - 80px) / 40);
    --margOrder4All: calc( ( 100vh - ( var(--sizeOrder4All) * 22 ) ) / 2 );
  }

  body {
    margin: var(--margOrder4All) 40px;
  }

  #settings {
    display: none;
  }
  .order-x, .order-xt {
    box-sizing: border-box;
    width:  var(--sizeOrder4All);
    height: var(--sizeOrder4All);
  }

  .order-xt {
    padding: 2px;
  }

  .pad {
    padding: 4px;
  }

}