#order-x {
  /* set both to 100% for full screen responsive few */
  width: 500px;
  height: 500px;
}

#settings {
  padding: 1em 0;
}

#grid {
  margin: 1em 0;
  font-family: monospace;
}
#grid, tr, td {
  border: 2px solid #ccc;
  border-collapse: collapse;
}
#grid td {
  text-align: right;
  padding: 2px;
}
