html {
  --backColour: #222;
  /* --backColour: rgb(7, 41, 62); */
  --textColour: #ccc;
  --lineColour: #ccc;
  /* --lineColour: rgb(189, 108, 112); */
}
body {
  background: var(--backColour);
  color: var(--textColour);
}
.order-x {
  width: 100%;
  height: 100%;
  stroke: var(--lineColour);
  stroke-width: 2;
  /* border: 1px solid gray; */
}
.svgGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.settings {
  padding: .75em 0;
}

@media screen and (min-width: 500px){
  .order-x {
    width:  200px;
    height: 200px;
  }
}
