#order-x {
  width: 100%;
  height: 100%;
}

#settings {
  padding: .75em 0;
}

/* magic sguare number grid */
#grid {
  margin: 0 0 1em;
  font-family: monospace;
}
#grid, tr, td {
  border: 2px solid #ccc;
  border-collapse: collapse;
}
#grid td {
  text-align: right;
  padding: 2px;
}

@media screen and (min-width: 500px){
  #order-x {
    width: 500px;
    height: 500px;
  }
}

